.MaxSquareGrid {
    line-height: 0;
    overflow: hidden;
    padding: 25px 0 25px 25px;
}

.MaxSquareGrid > * {
    border: 10px solid white;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}
