.MaxSquareGrid {
    line-height: 0;
    overflow: hidden;
    padding: 20px;
}

.MaxSquareGrid > * {
    border: 10px solid white;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}
