.Photo {
    position: relative;
}

.Photo .photo {
    box-shadow: 5px 5px 10px #b0b0b0;
    bottom: 0;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
}
